<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>收货地址</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<!-- Mobile Devices Support @begin -->
<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
<meta content="no-cache" http-equiv="pragma">
<meta content="0" http-equiv="expires">
<meta content="telephone=no, address=no" name="format-detection">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- apple devices fullscreen -->
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<!-- Mobile Devices Support @end -->
<link rel="stylesheet" type="text/css" href="FortAwesome/docs/assets/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="style.css" />
<script type="text/javascript">
   var _global = {};
	   _global.spm = {};
	   
document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {WeixinJSBridge.call('hideToolbar');});
</script>
<script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
<script type="text/javascript">
var user_state =sessionStorage.getItem("user_state");
if(!user_state){
	alert("未登录，请先登录");
	window.location.href="login.html";
}
$(document).ready(function(){	
$(".dci").click( function () { 
$(this).toggleClass("selected");
 }); 
});
$(function() {
	sessionStorage.setItem("address_state",-1);
	sessionStorage.setItem("address_data","");
	/* var data=[
					{addressid:"1",address1:"浙江省杭州市江干区",address2:"杭州电子科技大学",custname:"王小二",phone:"123456789",addrank:"1"}
		                   ,
					{addressid:"2",address1:"浙江省杭州市江干区",address2:"杭州电子科技大学",custname:"王小二",phone:"123456789",addrank:"0"}
								   ,
					{addressid:"3",address1:"浙江省杭州市江干区",address2:"杭州电子科技大学",custname:"王小二",phone:"123456789",addrank:"0"}
					];*/
	var data=JSON.parse(sessionStorage.setItem("user_address"));
	iG =data;
	$("#address").html(listManger(iG));
})
function listManger(_list) {
		var result = "";
		result += "<dl class=\"mem-orderlist mem\"><dt><span class=\"fn-tit\" style=\"white-space:pre;\">收货地址</span></dt>";
		for (var i = 0; i < _list.length; i++) {
			result += "<dd style=\"font-size:16px\"><p><a onclick=\"address("+i+")\"  class=\"clearfix\"><span class=\"floatl\"><span  style=\"font-weight:bold\">"+_list[i].address1+"</span></br>"+_list[i].address2+"</br><span style=\"font-size:14px;color: #999; margin-top:5px; display:inline-block\">"+_list[i].custname+"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"+_list[i].phone+"</span></span><em class=\"floatr\" style=\"margin-top:5%;margin-right:2%\">&nbsp;&nbsp;&nbsp;&nbsp;<i class=\"icon-pencil\"></i></br>"
			if (_list[i].addrank == 1) {
				result += "<span style=\"color:red;font-size:10px\">默认地址</span>"
			}
			result+= "</em></a></p>";
		}
		return result;
	}
function address(i){
	sessionStorage.setItem("address_data",JSON.stringify(iG[i]));
	sessionStorage.setItem("address_state",1);
	window.location.href = "addaddress.html";
	}
</script>
</head>

<body>
<div class="body">
<h3  class="fn-tit"><a href="javascript:history.go(-1);" class="nback">返回</a></h3>
	<div id ="address">
	</div>
    <div class="sub1">
    <a style="color:#FFF" href="addaddress.html">新增地址</a></span>
    </div>
</div>
<!--下导航-->
  <div class="js-navmenu nav-on-bottom style-2">
    <div class="nav-menu has-menu-3"> <a href="index.html" class="icon-home"></a>
      <div class="divide">&nbsp;</div>
      <div class="one"> <a class="mainmenu js-mainmenu" href="javascript:void(0);"> <i class="arrow-weixin"></i> 菜品 </a>
        <div class="submenu js-submenu"> <span class="arrow before-arrow"></span> <span class="arrow after-arrow"></span>
          <ul>
            <li> <a href="foodlist.html"> 火锅 </a> </li>
            <li> <a href="foodlist.html"> 地方菜 </a> </li>
            <li> <a href="foodlist.html"> 西餐 </a> </li>
            <li> <a href="foodlist.html"> 快餐 </a> </li>
          </ul>
        </div>
      </div>
      <div class="divide">&nbsp;</div>
      <div class="one"> <a class="mainmenu js-mainmenu" href="javascript:void(0);"> <i class="arrow-weixin"></i> 会员 </a>
        <div class="submenu js-submenu"> <span class="arrow before-arrow"></span> <span class="arrow after-arrow"></span>
          <ul>
            <li> <a href="foodlist.html"> 我要会员 </a> </li>
            <li> <a href="membercenter.html"> 会员中心 </a> </li>
          </ul>
        </div>
      </div>
      <div class="divide">&nbsp;</div>
      <div class="one"> <a class="mainmenu js-mainmenu" href="javascript:void(0);"> <i class="arrow-weixin"></i> VIP </a>
        <div class="submenu js-submenu"> <span class="arrow before-arrow"></span> <span class="arrow after-arrow"></span>
          <ul>
            <li> <a href="register.html"> 我要成为VIP </a> </li>
            <li> <a href="score.html"> 积分兑换 </a> </li>
          </ul>
        </div>
      </div>
      <div class="divide">&nbsp;</div>
      <div class="one"> <a class="mainmenu js-mainmenu" href="javascript:void(0);"> <i class="arrow-weixin"></i> 订单 </a>
        <div class="submenu js-submenu"> <span class="arrow before-arrow"></span> <span class="arrow after-arrow"></span>
          <ul>
            <li> <a href="order.html"> 会员订单 </a> </li>
          </ul>
        </div>
        <!--submenu js-submenu--> 
      </div>
      <!--one--> 
    </div>
  </div>
  <!--nav-on-bottom下导航结束--> 
  <script type="text/javascript" src="js/wap.min.js"></script>
</body>
</html>
