<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="viewport" content="initial-scale=1.0,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link type="text/css" href="css/style.css" rel="stylesheet" />
		<title>登录</title> <script src="js/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
		<script type="text/javascript" src="js/swipe.js"></script>
		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
<script>
var user_state =sessionStorage.getItem("user_state");

if(user_state){
	alert("已登录");
	window.location.href="index.html";
}

function login(){
var name = $('input[name="name"]').val();
var paws = $('input[name="password"]').val();
var data = {"name":name,"password":paws}
//alert(JSON.stringify(data));
var address=[
					{addressid:"1",address1:"浙江省杭州市江干区",address2:"杭州电子科技大学",custname:"王小二",phone:"123456789",addrank:"1"}
		                   ,
					{addressid:"2",address1:"浙江省杭州市江干区",address2:"杭州电子科技大学",custname:"王小二",phone:"123456789",addrank:"0"}
								   ,
					{addressid:"3",address1:"浙江省杭州市江干区",address2:"杭州电子科技大学",custname:"王小二",phone:"123456789",addrank:"0"}
					];
sessionStorage.setItem("user_address",JSON.stringify(address));
$.ajax(
					{
						type:"post",
						dataType:"json",
						url:"getuser",
						data:{"data":JSON.stringify(data)},
		                success:function(result){
							//var result = JSON.stringify(result);
							//var state = result.state;
							if(result.statusCode==100){																																																																																																		
								alert("登录成功");
								sessionStorage.setItem("user_state",true);
								sessionStorage.setItem("user_name", name);
								sessionStorage.setItem("user_money", result.money);
								
								window.location.href="index.html";
								
								}	
							if(result.statusCode==101){
								alert("登录失败");
								sessionStorage.setItem("user_state",false);
								
								}	
							if(result.statusCode==102){
								alert("用户不存在");
								sessionStorage.setItem("user_state",false);
								}
		                }
					}
				)
				}
</script>
</head>

<body>
	<div class="login">
		<div class="logo"></div>
		<div class="main">
			<table width="100%" border="0" cellspacing="0" class="mainl">
				<tr>
					<td class="text"><input type="text/css" class="text1"
						name="name" placeholder="输入用户名" /></td>
				</tr>
			</table>
			<div class="linee"></div>
			<table width="100%" border="0" cellspacing="0" class="mainl">
				<tr>
					<td class="text"><input type="password" name="password"
						class="text1" placeholder="输入密码" /></td>
				</tr>
			</table>
			<div class="linee"></div>
		</div>
		<div class="button">
			<input type="submit" value="登 录"
				class="text2" onclick="login()" />
		</div>
	</div>
	<div class="footrt">
		<div class="footrt_left">
			<a href="riderregister.html">注册新用户</a>
		</div>
		<div class="footrt_right">
			<a href="password.html">忘记密码？</a>
		</div>
	</div>
</body>
</html>