<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>预定中列表</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<!-- Mobile Devices Support @begin -->
<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
<meta content="no-cache" http-equiv="pragma">
<meta content="0" http-equiv="expires">
<meta content="telephone=no, address=no" name="format-detection">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- apple devices fullscreen -->
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<!-- Mobile Devices Support @end -->
<link rel="stylesheet" type="text/css" href="FortAwesome/docs/assets/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="style.css" />
<link rel="stylesheet" href="css/bellows.css">
<link rel="stylesheet" href="css/bellows-theme.css">
<link rel="stylesheet" href="css/lrtk.css">
<script src="js/jquery.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script type="text/javascript" src="js/swipe.js"></script>
<script src="js/jquery.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script type="text/javascript">
   var _global = {};
	   _global.spm = {};

document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {WeixinJSBridge.call('hideToolbar');});
</script>
<script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
</head>

<body onload="load()">
<div class="body">
	<h3 class="fn-tit"><a href="javascript:history.go(-1);" class="nback">返回</a><b class="tit">我的订单</b></h3>
	<div class="bellows single" id="orderlist">
	</div>
</div>
  
  
  
  <!--下导航-->
  <div class="js-navmenu nav-on-bottom style-2">
    <div class="nav-menu has-menu-3"> <a href="index.html" class="icon-home"></a>
      <div class="divide">&nbsp;</div>
      <div class="one"> <a class="mainmenu js-mainmenu" href="javascript:void(0);"> <i class="arrow-weixin"></i> 菜品 </a>
        <div class="submenu js-submenu"> <span class="arrow before-arrow"></span> <span class="arrow after-arrow"></span>
          <ul>
            <li> <a href="foodlist.html"> 火锅 </a> </li>
            <li> <a href="foodlist.html"> 地方菜 </a> </li>
            <li> <a href="foodlist.html"> 西餐 </a> </li>
            <li> <a href="foodlist.html"> 快餐 </a> </li>
          </ul>
        </div>
      </div>
      <div class="divide">&nbsp;</div>
      <div class="one"> <a class="mainmenu js-mainmenu" href="javascript:void(0);"> <i class="arrow-weixin"></i> 会员 </a>
        <div class="submenu js-submenu"> <span class="arrow before-arrow"></span> <span class="arrow after-arrow"></span>
          <ul>
            <li> <a href="foodlist.html"> 我要订位 </a> </li>
            <li> <a href="membercenter.html"> 会员中心 </a> </li>
          </ul>
        </div>
      </div>
      <div class="divide">&nbsp;</div>
      <div class="one"> <a class="mainmenu js-mainmenu" href="javascript:void(0);"> <i class="arrow-weixin"></i> VIP </a>
        <div class="submenu js-submenu"> <span class="arrow before-arrow"></span> <span class="arrow after-arrow"></span>
          <ul>
            <li> <a href="register.html"> 我要成为VIP </a> </li>
            <li> <a href="score.html"> 积分兑换 </a> </li>
          </ul>
        </div>
      </div>
      <div class="divide">&nbsp;</div>
      <div class="one"> <a class="mainmenu js-mainmenu" href="javascript:void(0);" > <i class="arrow-weixin"></i> 订单 </a>
        <div class="submenu js-submenu"> <span class="arrow before-arrow"></span> <span class="arrow after-arrow"></span>
          <ul>
            <li> <a href="order.html"> 我的订单 </a> </li>
          </ul>
        </div>
        <!--submenu js-submenu--> 
      </div>
      <!--one--> 
    </div>
  </div>
  <!--nav-on-bottom下导航结束-->
</div>

<!--body--> 

<script type="text/javascript" src="js/wap.min.js"></script>
<script src="js/velocity.min.js"></script>
<script src="js/bellows.min.js"></script>
<script>
var user_state =sessionStorage.getItem("user_state");
if(!user_state){
	alert("未登录，请先登录");
	window.location.href="login.html";
}
var Custname =sessionStorage.getItem("user_name");
data={"Custname":Custname};
alert(data);
var iG = iG||[];
/*  iG=[
           {id:"1",orderdetailid:"1",address:"杭电",sellername:"金拱门",orderprice:"23",ordertate:"0",time:"2018/12/9 22:04:20"}
                    ,
			{id:"2",orderdetailid:"1",address:"杭电",sellername:"肯德基",orderprice:"23",ordertate:"1",time:"2018/12/9 22:04:20"}
                    ,
			{id:"3",orderdetailid:"1",address:"杭电",sellername:"麦当劳",orderprice:"23",ordertate:"1",time:"2018/12/9 22:04:20"}
			];*/
			
			$.ajax(
					{
						type:"post",
						dataType:"json",
						url:"getorder",
						data:{"data":JSON.stringify(data)},
		                success:function(result){
		     
						//iG = JSON.stringify(result);
						iG = result;
						$("#orderlist").html(listManger(iG));
						alert(iG[0].orderid);
		                }
					}
			)
	
function listManger(_list){

	alert("inner");
	var result = "";
	for(var i in _list){
		alert(i);
		result += "<div class=\"bellows__item\"><div class=\"bellows__header\" onClick=\"listdata("+_list[i].orderid+")\" ><h3><span id=\"left\">"+_list[i].sellername+"</span>";
		result += "<span id=\"left\">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"+_list[i].time+"</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";
		if(_list[i].ordertate== 1){
			result += "状态：<span style=\"color:green\">已送达</span>"
			}else{
				result += "状态：<span style=\"color:red\">配送中</span>"
				}
		result += "</h3></div>";
		result += "<div class=\"bellows__content\" name=\"listdata\"><p></p></div>";
		result += "</div>";
		}
		return result;

	}





function listdata(id){
		var data = data||{};
		_data={"orderid":id};
		
			$.ajax(
					{
						type:"post",
						dataType:"json",
						url:"getorderdetail",
						data:{"data":JSON.stringify(_data)},
		                success:function(result){
		          
							data =result;
							alert(data);
		                }
					}
				)
						
	var result = "";
		result += "<ul class=\"foodlist\"><div id=\"J_list_Container\"><div class=\"foodintro clearfix\"><div class=\"foodcon floatl\"><p>订单编号:<b>"+data.orderid+"</b></p><p>顾客姓名：<b>"+data.custname+"</b></p><p>商家：<b>"+data.sellername+"</b></p><p>总价：<b>"+data.orderfoodpri+"</b></p><p>配送员：<b>"+data.orderrid+"</b></p></div></div></ul>";
		for(var i in data.foods){
			result += "<ul class=\"foodlist\"><div id=\"J_list_Container\"><div class=\"foodintro clearfix\"><img src=\""+data.foods[i].imageUrl+"\" class =\"imge\"><div class=\"foodcon floatl\"><p>"+data.foods[i].name+"</p><p>单价：<b>"+data.foods[i].price+"</b></p><p>数量：<b>"+data.foods[i].count+"</b></p></div></div></div></ul>"
			}
		$("div[name='listdata']").html(result);
	}
$('.bellows').bellows({
	  singleItemOpen: true,
	  easing: 'ease-in-out',
	  duration: 60
	
})	
</script>
<script type="text/javascript" src="js/wap.min.js"></script>
<script src="js/velocity.min.js"></script>
<script src="js/bellows.min.js"></script>
</body>
</html>